<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>待辦清單</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/to-do-list.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>我的待辦清單</h1>
        <div class="inputText">
            <input type="text" id="taskInput" placeholder="輸入任務">
        </div>
        <button id="addButton">
            <div class="text">加入</div>
        </button>
        <ul id="taskList">
            <i class="fa-solid fa-trash delete-icon"></i>

        </ul>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>